.__banners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; 
    margin-bottom: 60px;
}
    .__banners .__banner-img-left  {
        position: relative;
    }

    .__banners .__banner-img-left img  {
        max-width: 810px;
        
    }
        .__banners .__banner-img-left .__banner-text {
            position: absolute;
            top: 85px;
            right: 5%;
        }
            .__banners .__banner-img-left .__banner-text h1 {
                font-weight: var(--font-weight-bold);
                font-size: 45px;
                color: var(--color-white);
            }
            .__banners .__banner-img-left .__banner-text .btn-theme-dark {
                margin-top: 35px;
            }
    .__banners .__banner-img-right  {
        position: relative;

    }

    .__banners .__banner-img-right img  {
        max-width: 810px;
        
    }
        .__banners .__banner-img-right .__banner-text {
            position: absolute;
            top: 85px;
            left: 5%;
        }
            .__banners .__banner-img-right .__banner-text h1 {
                font-weight: var(--font-weight-bold);
                font-size: 45px;
                color: var(--color-dark);
            }
            .__banners .__banner-img-right .__banner-text .btn-theme-white {
                margin-top: 35px;
            }

@media (max-width: 1400px) {
    .__banners {
        display: flex;
        flex-direction: column;
    }

    .__banners .__banner-img-left .__banner-text {
        position: absolute;
        top: 85px;
        right: 35%;
    }

    

        .__banners .__banner-img-left img  {
            width: 100%;
            
        }

        .__banners .__banner-img-left  {
            width: 100%;
            
        }

        .__banners .__banner-img-right  {
            align-self: flex-end;
        }


        

}