@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --color-white: #ffffff;
    --color-theme: #ff7373;
    --color-main: #222529;
    --color-dark: #23262a;
    --color-shadow: rgba(0, 0, 0, 0.06);
    --color-lightgray: rgb(112, 112, 112, 0.40);
    --color-copyright: #f8f8f8;
    --linear-gradient-dark: #e6e6e6;
    --linear-gradient-light: #f5f5f5;
    --color-gray-3: #bebebe;
    --color-gray-4:  #616365;
    --color-gray-card: #CDCED0;

    --font-poppins:'poppins', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

    --font-size-13: 1.08rem;
    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.5rem;
    --font-size-20: 1.67rem;
    --font-size-35: 2.92rem;
    --font-size-45: 3.76rem;
    --font-size-65: 5.43rem;

    --max-width: 1680px;




    /* --color-white: #ffffff;
  

    --color-gray-3: #bebebe;
    --color-gray-4: #616365;

    --color-darks: #23262a;
    
    --color-gray-card: #CDCED0;

    --font-poppins:'poppins', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

    --font-size-13: 1.08rem;
    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.5rem;
    --font-size-20: 1.67rem;
    --font-size-35: 2.92rem;
    --font-size-45: 3.76rem;
    --font-size-65: 5.43rem;

    --max-width: 1680px; */

}

/* General stuff */
html,
body {
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-regular);
    /* with it buttons do not look as theu supposed to look */
    /* font-size: var(--font-size-16); */
}

a {
    color: var(--color-theme);
    text-decoration: none;
}
    a:hover {
        color: var(--color-theme);
        text-decoration: underline;
    }

/* Black button -> red */
.btn-theme-dark {
    height: 60px;
    width: 190px;
    background-color: var(--color-dark);
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    transition: all 200ms ease-in-out;
}
    .btn-theme-dark p {
        color: var(--color-white);
        margin: 0;
        font-weight: var(--font-size-16);
        font-weight: var(--font-weight-semi-bold);   
    } 
        .btn-theme-dark:hover {
            background-color: var(--color-theme);
            text-decoration: none;
            color: var(--color-dark);
        }
        .btn-theme-dark .line-button-l-1 {
            position: absolute;
            background-color: var(--color-white);
            border: 1px solid var(--color-white);
            top: 10px;
            left: 10px;
            width: 20px;
            transition: all 200ms ease-in-out;
        }
        .btn-theme-dark .line-button-l-2 {
            position: absolute;
            background-color: var(--color-white);
            border: 1px solid var(--color-white);
            top: 10px;
            left: 10px;
            height: 20px;
            transition: all 200ms ease-in-out;
        }
        .btn-theme-dark .line-button-r-1 {
            position: absolute;
            background-color: var(--color-white);
            border: 1px solid var(--color-white);
            bottom: 10px;
            right: 10px;
            width: 20px;
            transition: all 200ms ease-in-out;
        }
        .btn-theme-dark .line-button-r-2 {
            position: absolute;
            background-color: var(--color-white);
            border: 1px solid var(--color-white);
            bottom: 10px;
            right: 10px;
            height: 20px;
            transition: all 200ms ease-in-out;
        }
            .btn-theme-dark:hover .line-button-l-1 {
                background-color: var(--color-white);
                border: 1px solid var(--color-white);
            }
            .btn-theme-dark:hover .line-button-l-2 {
                background-color: var(--color-white);
                border: 1px solid var(--color-white);
            }
            .btn-theme-dark:hover .line-button-r-1 {
                background-color: var(--color-white);
                border: 1px solid var(--color-white);
            }
            .btn-theme-dark:hover .line-button-r-2 {
                background-color: var(--color-white);
                border: 1px solid var(--color-white);
            }

/* Red button -> black */
.btn-theme-red {
    height: 60px;
    width: 190px;
    background-color: var(--color-theme);
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    transition: background 200ms ease-in-out;
}
    .btn-theme-red p {
        margin: 0;
        font-weight: var(--font-size-16);
        font-weight: var(--font-weight-semi-bold);   
    } 
        .btn-theme-red:hover {
            background-color: var(--color-dark);
            text-decoration: none;
            color: var(--color-white);
        }
        .btn-theme-red .line-button-l-1 {
            position: absolute;
            background-color: var(--color-white);
            border: 1px solid var(--color-white);
            top: 10px;
            left: 10px;
            width: 20px;
        }
        .btn-theme-red .line-button-l-2 {
            position: absolute;
            background-color: var(--color-white);
            border: 1px solid var(--color-white);
            top: 10px;
            left: 10px;
            height: 20px;
        }
        .btn-theme-red .line-button-r-1 {
            position: absolute;
            background-color: var(--color-white);
            border: 1px solid var(--color-white);
            bottom: 10px;
            right: 10px;
            width: 20px;
        }
        .btn-theme-red .line-button-r-2 {
            position: absolute;
            background-color: var(--color-white);
            border: 1px solid var(--color-white);
            bottom: 10px;
            right: 10px;
            height: 20px;
        }

/* White button -> black */
.btn-theme-white {
    height: 60px;
    width: 190px;
    background-color: var(--color-white);
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-font-main);
    transition: all 200ms ease-in-out;
}
    .btn-theme-white p {
        margin: 0;
        font-weight: var(--font-size-16);
        font-weight: var(--font-weight-semi-bold);   
    } 
        .btn-theme-white:hover {
            background-color: var(--color-theme);
            text-decoration: none;
            color: var(--color-white);
        }
        .btn-theme-white .line-button-l-1 {
            position: absolute;
            background-color: var(--color-main);
            border: 1px solid var(--color-main);
            top: 10px;
            left: 10px;
            width: 20px;
            transition: all 200ms ease-in-out;
        }
        .btn-theme-white .line-button-l-2 {
            position: absolute;
            background-color: var(--color-main);
            border: 1px solid var(--color-main);
            top: 10px;
            left: 10px;
            height: 20px;
            transition: all 200ms ease-in-out;
        }
        .btn-theme-white .line-button-r-1 {
            position: absolute;
            background-color: var(--color-main);
            border: 1px solid var(--color-main);
            bottom: 10px;
            right: 10px;
            width: 20px;
            transition: all 200ms ease-in-out;
        }
        .btn-theme-white .line-button-r-2 {
            position: absolute;
            background-color: var(--color-main);
            border: 1px solid var(--color-main);
            bottom: 10px;
            right: 10px;
            height: 20px;
            transition: all 200ms ease-in-out;
        }
            .btn-theme-white:hover .line-button-l-1 {
                background-color: var(--color-white);
                border: 1px solid var(--color-white);
            }
            .btn-theme-white:hover .line-button-l-2 {
                background-color: var(--color-white);
                border: 1px solid var(--color-white);
            }
            .btn-theme-white:hover .line-button-r-1 {
                background-color: var(--color-white);
                border: 1px solid var(--color-white);
            }
            .btn-theme-white:hover .line-button-r-2 {
                background-color: var(--color-white);
                border: 1px solid var(--color-white);
            }

/* contact page button */
.btn-theme-contact {
    position: relative;
    background-color: var(--color-theme);
    color: var(--color-white);
    border: none;
    padding: 20px 50px;
    font-weight: var(--font-weight-semi-bold);
    transition: background 200ms ease-in-out;
}

    .btn-theme-contact:hover {
        color: var(--color-white) !important;
        background-color: var(--color-dark);
        text-decoration: none;
    }



/* the start of the page */
    .__gradient-gray {
        background: var(--linear-gradient-dark);
        background: linear-gradient(90deg, var(--linear-gradient-dark) 0%, var(--linear-gradient-light) 100%);
    }

    .__logo {
        font-size: 35px;
        font-weight: var(--font-weight-bold);
    }

    .bg-theme {
        background-color: var(--color-theme);
    }

    header {
        margin-bottom: 135px;
    }

    .__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .__navbar .__nav-links {
        font-weight: var(--font-weight-medium);
    }

        .__navbar .__nav-links a {
            color: var(--color-main);
            font-weight: var(--font-weight-medium);
            text-decoration: none;
            margin-left: 15px;
            margin-right: 15px;
        }

            .__navbar .__nav-links a:hover {
                color: var(--color-theme);
                text-decoration: none;
            }

            .__navbar .__nav-links a:active,
            .__navbar .__nav-links .__active {
                color: var(--color-theme);
                text-decoration: none;
            }

    .__nav-icon-links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
        
        .__navbar .__nav-icon-links a {
                background-color: var(--color-white);
                color: var(--color-main);
                width: 36px;
                height: 36px;
                margin-left: 20px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 6px 4px var(--color-shadow);
                position: relative;
        }

            .__navbar .__nav-icon-links a:hover {
                color: var(--color-theme);
                text-decoration: none;
            }

/* the cards, grid part */
/* Card attributes */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    background-color: var(--color-white);
    border: none;
    max-width: 255px;
}
    .card .card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-white);
        width: 100%;
        z-index: 1;
    }
        .card .card-text p {
            color: var(--color-gray-4);
            font-size: var(--font-size-13);
            font-weight: var(--font-weight-medium);
            margin-bottom: .2rem;
            margin-top: .5rem;
        }
        .card .card-text h1 {
            color: var(--color-main);
            font-size: var(--font-size-16);
            font-weight: var(--font-weight-semi-bold);
            margin: 0 0 .3rem 0;
        }
        .card .card-text .card-stars {
            color: var(--color-theme);
            margin: 0 0 .2rem 0;
        }
            .card .card-text .card-stars i {
                margin: 0 0.05rem;
            }
        .card .card-text h2 {
            color: var(--color-main);
            font-size: var(--font-size-18);
            font-weight: var(--font-weight-semi-bold);
            margin: 0 0 .3rem 0;
        }
        .card .card-text h2 span {
            color: var(--color-main);
            font-weight: var(--font-weight-regular);
            font-size: var(--font-size-16);
            text-decoration: line-through;
            color: var(--color-gray-4);
        }
    .card .card-box {
        height: 210px;
        width: 100%;
        background-color: var(--linear-gradient-light);
        position: relative;
        overflow: hidden;
        transition: background 200ms ease-in-out;
    }
        .card:hover .card-box {
            background-color: var(--color-gray-card);
        }
        .card .card-box .card-interaction {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 250px;
            right: 10px;
            transition: top 200ms ease-in-out;
        }
            .card:hover .card-box .card-interaction {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 10px;
                right: 10px;
            }
            .card .card-box .card-interaction .card-balls {
                width: 36px;
                height: 36px;
                background-color: var(--color-white);
                border-radius: 50%;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 200ms ease-in-out;
            }
                .card .card-box .card-interaction .card-balls:hover {
                    background-color: var(--color-dark);
                    color: var(--color-white);
                }
                .card .card-box .card-interaction .card-balls i {
                    font-size: var(--font-size-14);
                }
        .card .card-box .card-quick-view {
            position: absolute;
            bottom: -100px;
            width: 100%;
            transition: bottom 200ms ease-in-out;
        }
            .card:hover .card-box .card-quick-view {
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 100%;
            }
                .card .card-box .card-quick-view .btn-theme-red {
                    width: 100%;
                }
                    .card .card-box .card-quick-view .btn-theme-red p {
                        font-weight: var(--font-weight-regular);
                        font-size: var(--font-size-13);
                    }

/* showcase */
.__showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .__showcase .__img-left {
        margin-left: -127px;
    }  

    .__showcase .__img-right {
        margin-right: -127px;
    }  

    .__showcase .__showcase-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
        .__showcase .__showcase-body h1 {
            font-size: var(--font-size-65);
            font-weight: var(--font-weight-extra-bold);

        }

        .__showcase .__showcase-body >p {
            margin-top: 50px;
            margin-bottom: 35px;
            font-size: var(--font-size-20);
        }

/* Grid function */
.__featured-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
    .__featured-product .container {
        max-width: 1110px;
        align-items: center;
        justify-content: center;
    }
    .__featured-product > p {
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-bold);
        color: var(--color-main);
        margin-bottom: 30px;
    }
    .__featured-product .__grid {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 255px);
        gap: 22px;
    }

/* banners */
    .__banners {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-bottom: 60px;
    }
        .__banners .__banner-img-left  {
            position: relative;
        }
            .__banners .__banner-img-left .__banner-text {
                position: absolute;
                top: 85px;
                right: 5%;
            }
                .__banners .__banner-img-left .__banner-text h1 {
                    font-weight: var(--font-weight-bold);
                    font-size: 45px;
                    color: var(--color-white);
                }
                .__banners .__banner-img-left .__banner-text .btn-theme-dark {
                    margin-top: 35px;
                }
        .__banners .__banner-img-right  {
            position: relative;
        }
            .__banners .__banner-img-right .__banner-text {
                position: absolute;
                top: 85px;
                left: 5%;
            }
                .__banners .__banner-img-right .__banner-text h1 {
                    font-weight: var(--font-weight-bold);
                    font-size: 45px;
                    color: var(--color-dark);
                }
                .__banners .__banner-img-right .__banner-text .btn-theme-white {
                    margin-top: 35px;
                }

/* Flash sale */

.__flash-sale-left {
   display: flex;
    margin-bottom: 60px;
}
    .__flash-sale-left .__two-for-left {
        flex: 1;
        background-color: var(--color-gray-3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        .__flash-sale-left .__two-for-left h1{
            font-weight: var(--font-weight-bold) ;
            font-size: 45px;
            color: var(--color-white);
            margin-bottom: 40px;
        }
    .__flash-sale-left .__two-for-right{
        flex: 1;
    }
        .__flash-sale-left .__two-for-right .__two-for-right-grid {
            display: grid;
            grid-template-columns: repeat(2, 255px);
            gap: 30px;
            margin-left: 30px;
        }


.__flash-sale-right {
    display: flex;
        margin-bottom: 60px;
        justify-content: end;
}
        .__flash-sale-right .__two-for-right {
            flex: 1;
            max-width: 825px;
        }
            .__flash-sale-right .__two-for-right .__two-for-right-box {
                background-color: var(--color-gray-3);
                width: 100%;
                height: 100%;
                margin-left: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
                .__flash-sale-right .__two-for-right .__two-for-right-box h1 {
                    font-weight: var(--font-weight-bold) ;
                    font-size: 45px;
                    color: var(--color-white);
                    margin-bottom: 40px;
                }

        .__flash-sale-left .__two-for-left {
            flex: 1;
        }
            .__flash-sale-right .__two-for-left .__two-for-left-grid {
                display: grid;
                grid-template-columns: repeat(2, 255px);
                gap: 30px;
                justify-content: end;
            }

            .__flash-sale-left {
                display: flex;
                 margin-bottom: 60px;
             }
                 .__flash-sale-left .__two-for-left {
                     flex: 1;
                     background-color: var(--color-gray-3);
                     display: flex;
                     flex-direction: column;
                     align-items: center;
                     justify-content: center;
                 }
                     .__flash-sale-left .__two-for-left h1{
                         font-weight: var(--font-weight-bold) ;
                         font-size: 45px;
                         color: var(--color-white);
                         margin-bottom: 40px;
                     }
                 .__flash-sale-left .__two-for-right{
                     flex: 1;
                 }
                     .__flash-sale-left .__two-for-right .__two-for-right-grid {
                         display: grid;
                         grid-template-columns: repeat(2, 255px);
                         gap: 30px;
                         margin-left: 30px;
                     }
             
             
             .__flash-sale-right {
                 display: flex;
                     margin-bottom: 60px;
                     justify-content: end;
             }
                     .__flash-sale-right .__two-for-right {
                         flex: 1;
                         max-width: 825px;
                     }
                         .__flash-sale-right .__two-for-right .__two-for-right-box {
                             background-color: var(--color-gray-3);
                             width: 100%;
                             height: 100%;
                             margin-left: 30px;
                             display: flex;
                             flex-direction: column;
                             align-items: center;
                             justify-content: center;
                         }
                             .__flash-sale-right .__two-for-right .__two-for-right-box h1 {
                                 font-weight: var(--font-weight-bold);
                                 font-size: 45px;
                                 color: var(--color-white);
                                 margin-bottom: 40px;
                             }
             
                     .__flash-sale-left .__two-for-left {
                         flex: 1;
                     }
                         .__flash-sale-right .__two-for-left .__two-for-left-grid {
                             display: grid;
                             grid-template-columns: repeat(2, 255px);
                             gap: 30px;
                             justify-content: end;
                         }


.__destination-buttons .container {
max-width: 1110px;
display: flex;
justify-content: space-between;
align-items: center;
border-top: rgb(97, 99, 101, 0.4) solid 1px;
margin-top: 85px;
margin-bottom: 70px;
}
.__destination-buttons .container .__support-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .__destination-buttons .container .__support-buttons a {
        color: var(--color-dark);
        background-color: var(--color-white);
        box-shadow: 0 0 6px 4px var(--color-shadow);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        font-size: 25px;
        text-decoration: none;
        transition: all 200ms ease-in-out;
        margin-top: 60px;
    }
        .__destination-buttons .container .__support-buttons a:hover {
            color: var(--color-theme);
            background-color: var(--color-dark);
            text-decoration: none;
        }
    .__destination-buttons .container .__support-buttons h1 {
        font-weight: var(--font-weight-bold);
        font-size: 20px;
        margin: 30px 0 15px 0;
    }
    .__destination-buttons .container .__support-buttons p {
        font-weight: var(--font-weight-regular);
        font-size: 16px;
        color: var(--color-gray-4);
        margin: 0;
    }
                        








/* contact page */
/* breadcrumb part: home->contacts */

.breadcrumb {
    margin-top: 20px;
}

    .breadcrumb .container {
        max-width: 1110px;
    }

        .breadcrumb .breadcrumb-list {
            list-style: none;
            margin: 0 0 40px 0;
            padding: 0;
            color: var(--color-theme);
        }   

                .breadcrumb .breadcrumb-list li {
                display: inline-block;
                font-weight: var(--font-weight-medium);
            }

                    .breadcrumb .breadcrumb-list li + li:before {
                    content: ">\00a0";
                    font-weight: var(--font-weight-regular);
                    color: var(--color-main);
                }

                .breadcrumb .breadcrumb-list li a {
                    color: var(--color-main);
                }

                    .breadcrumb .breadcrumb-list li a:hover {
                        color: var(--color-theme);
                    }

.map {
    margin-bottom: 70px ;
}
    .map .google-map {
        border:0; width: 100%; height: 380px;
    }

.contact-form {
    margin-bottom: 60px;
}

    .contact-form .container {
        max-width: 1110px;
        justify-content: center;
    }

        .contact-form h2 {
            font-size: var(--font-size-18);
            font-weight: var(--font-weight-bold);
            margin-bottom: 30px;
        }

        .contact-form form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
        }

            .contact-form form input {
                width: 100%;
                padding: 18px 20px;
                border: 1px solid var(--color-lightgray);
            }

            .contact-form form .textarea {
                grid-column: 1/-1;
            }

            .contact-form form textarea {
                width: 100%;
                grid-column: 1/-1;
                padding: 18px 20px;
                border: 1px solid var(--color-lightgray);
                min-height: 140px;
                resize: none;
            }

            .contact-form form .error {
                color: var(--color-theme);
                border: 1px solid var(--color-theme);
            }


            .contact-form form .errorMessage {
                margin-top:5px;
                color: var(--color-theme);
                font-size: 0.8em;
            }

            


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-copyright);
    padding: 25px;
}

    footer .social-media {
        margin-bottom: 25px;
    }
        

        footer .social-media a {
            font-size: var(--font-size-14);
            color: var(--color-dark);
            text-decoration: none;
            margin-left: 10px;
            margin-right: 10px;
        }

            footer .social-media a:hover {
                color: var(--color-theme);
            }


           
            


    
        





            
@media (min-width: 1600px) {
    .container {
        max-width: var(--max-width);
    }
}






